<?xml version="1.0" encoding="utf-8"?>

<RunSettings>
	<TestRunParameters>
		<Parameter name="url" value="https://www.naukri.com/nlogin/login" />
		<Parameter name="browser" value="chrome" />
		<Parameter name="type" value="local" />
		<!--<Parameter name="type" value="remote" />-->
		<Parameter name="waitSecond" value="10" />

	</TestRunParameters>
</RunSettings>
